<!doctype html>
<html lang="en">
	<head>
        <title>CV Page</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


        
        <link rel="stylesheet" href="css/cvpage.css">

        
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
  
    <body>
        
        <div class="wrapper">

            
            <div class="profile-area">

                

                <header>
                    <img src="img/profilepic.png" alt="Profile image" />
                    <h1 class="no-spacer">Utkarsh Singh</h1>
                    <h2 class="no-spacer">CSE . 17101</h2>
                    <div class="social-icons">
                        <a href="#"><i class="fa fa-envelope-square fa-3x"></i></a>
                        <a href="#"><i class="fa fa-facebook-square fa-3x"></i></a>
                        <a href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
                        <a href="#"><i class="fa fa-instagram fa-3x"></i></a>
                    </div>

                </header>
            </div>

            <div class="content-wrapper">
                
                <main>
                    <article>
                        <h2 class="article-title"><b>ABOUT MYSELF</b></h2>

                        <h3>Skills:</h3>
						<ul>
                            <li>CSS</li>
                            <li>HTML</li>
                            <li>JAVA</li>
                            <li>PHP</li>
                            <li>C</li>
							<li>ADOBE PHOTOSHOP</li>
                        </ul>
						
						<h3>Achievements:</h3>
						<ul>
							<li>First in Extempore Competition</li>
                        </ul>
						
						 <h3>Areas of Interest:</h3>
						<ul>
                            <li>Artificial Intelligence</li>
                            <li>Machine Learning</li>
							<li>Soccer</li>
                        </ul>
						
						<h3>Why should we select you?</h3>
						<p> I'm extremely creative and helpful.</p>	
						
						<h3>What will you do for our club?</h3>
						<p> I'll be creative and helpful.</p>	
						
						<h3>What are your expectations from us?</h3>
						<p> Just be open to my creativity and helpfulness.</p>
						
						<h3>Do you prefer working independently or in a team?</h3>
						<p> Anything would do.</p>
						
                       
                    </article>

                        

                </main>

                
                <footer>
					   
                        <p>Contact no: 12345 | Address </p>
                </footer>
            </div>
        </div>
    </body>
</html>