<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Poor+Story" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title>Hello, {{clubName}}</title>
    <link rel="stylesheet" type="text/css" href="/css/newdash.css">
    <link rel="stylesheet" type="text/css" href="/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
	<!--Navigation Bar--->
	<nav>
		<div class="nav-bar">
			<div id="club-name">Club Up for {{clubName}}</div>
			<div id="nav-container">
				<div class="nav-link"><a href="#" id="openCandidates"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Candidates</a></div>
				<div class="nav-link"><a href="#" id="openStats"><i class="fa fa-bar-chart" aria-hidden="true"></i> Stats </a></div>
				<div class="nav-link"><a href="#" id="signOut"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out</a></div>
			</div>
		</div>
	</nav>
	<!--Dash Board-->
	<div class="img-row center">
		<div class="box">
			<img class="blur" src="https://netstorage-yen.akamaized.net/images/3o3bpd34lj57bvlgd.jpg">
			<div class="centered">
				<h1 id="applications"></h1>
				<h2>Applications Submitted</h2>
			</div>
		</div>
		<div class="box">
			<img class="blur" src="https://netstorage-yen.akamaized.net/images/3o3bpd34lj57bvlgd.jpg">
			<div class="centered">
				<h1 id="applications"></h1>
				<h2>Applications Submitted</h2>
			</div>
		</div>
		<div class="box">
			<img class="blur" src="https://netstorage-yen.akamaized.net/images/3o3bpd34lj57bvlgd.jpg">
			<div class="centered">
				<h1 id="applications"></h1>
				<h2 class="center">Applications Submitted</h2>
			</div>
		</div>
	</div>
</body>