<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Poor+Story" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title>Hello, {{clubName}}</title>
    <link rel="stylesheet" type="text/css" href="/css/newdash.css">
    <link rel="stylesheet" type="text/css" href="/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
	<!--Navigation Bar--->
	<div id="clubName">{{clubName}}</div>
	<nav>
		<div class="nav-bar">
			<div id="club-name">Club Up for {{clubName}}</div>
			<div id="nav-container">
				<a href="#" id="openCandidates"><div class="nav-link"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Candidates</div></a>
				<a href="#" id="openStats"><div class="nav-link"><i class="fa fa-bar-chart" aria-hidden="true"></i> Stats</div></a>
				<a href="#" id="signOut"><div class="nav-link"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out</div></a>
			</div>
		</div>
		<div id="toggle"><i class="fa fa-bars fa-2x"></i></div>
	</nav>
	<!--Dash Board-->
	<div class="feature center" id="candidates">
		<div class="box">
			<h1><i class="fa fa-envelope fa-lg aria-hidden="true"></i></h1>
			<h2 id="applications">
			<h2 class="txt-shadow">Applications<br/>Submitted</h2>
		</div>
		<div class="box">
			<h1><i class="fa fa-question fa-lg" aria-hidden="true"></i></h1>
			<h2 id="interviewed"></h2>
			<h2 class="txt-shadow">Candidates<br/>Interviewed</h2>
		</div>
		<div class="box">
			<h1><i class="fa fa-vcard fa-lg" aria-hidden="true"></i></h1>
			<h2 id="remaining"></h2>
			<h2 class="txt-shadow">Remaining</h2>
		</div>
	</div>
	<div class="navbar-pills center">
		<a data-toggle="tab" class="nav-pills active" id="all" href="#dall"><div class="txt">All </div><i class = "fa fa-users fa-lg" aria-hidden="true"></i></a>
		<a data-toggle="tab" class="nav-pills" id="selected" href="#dselected"><div class="txt">SELECTED </div><i class = "fa fa-check fa-lg" aria-hidden="true"></i></a>
		<a data-toggle="tab" class="nav-pills" id="shortlisted" href="#dshortlisted"><div class="txt">SHORTLISTED  </div><i class = "fa fa-clock-o fa-lg" aria-hidden="true" ></i></a>
		<a data-toggle="tab" class="nav-pills" id="rejected" href="#drejected"><div class="txt">REJECTED </div><i class = "fa fa-times fa-lg" aria-hidden="true"></i></a>
	</div>
	<div class="Rtable Rtable--6cols center" id="display-all">
		<div class="Rtable-cell">Pic</div>
		<div class="Rtable-cell">Name</div>
		<div class="Rtable-cell">Roll Number</div>
		<div class="Rtable-cell">Rating</div>
		<div class="Rtable-cell">Status</div>
		<div class="Rtable-cell">Result</div>
  </div>
    <!--Stats-->
    <div class="Rtable--2cols chart-table feature center hide" id="stats">
     		<div class="Rtable-cell chart" id="sexChart">
      	</div>
      	<div class="Rtable-cell chart" id="branchChart">
      	</div> 
    </div>
    <div class="footer center accent">
        <div class="container">
            <div class="row">
                <div class="col col-3">
                    <h1 class="footer-brand-text" id="club">{{club}}</h1>
                    <p>We've received some pretty amazing CVs for your club. We hope you select the best ones. All the best!</p>
                    <div>
                        <a href="#" class="social-icon-link w-inline-block"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
                        <a href="#" class="social-icon-link w-inline-block"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                        <a href="#" class="social-icon-link w-inline-block"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
                        <a href="#" class="social-icon-link w-inline-block"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="w-col w-col-3"></div>
                <div class="w-col w-col-3"></div>
                <div class="w-col w-col-3"></div>
            </div>
        </div>
    </div>
    <script src="/js/dashboard.js"></script>
</body>
</html>