<!DOCTYPE html>
<head>
<title>Sign up</title>
<style>
        body {font-family: Arial, Helvetica, sans-serif;}
        * {box-sizing: border-box}


        input[type=text], input[type=password] {
          width: 100%;
          padding: 15px;
          margin: 5px 0 22px 0;
          display: inline-block;
          border: none;
          background: #f1f1f1;
        }

        input[type=text]:focus, input[type=password]:focus {
          background-color: #ddd;
          outline: none;
        }

        button {
          background-color: #4CAF50;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          cursor: pointer;
          width: 100%;
          opacity: 0.9;
        }

        button:hover {
          opacity:1;
        }

       .signupbtn {
          float: left;
          width: 50%;
        }

         .container {
          padding: 16px;
        }

        .clearfix::after {
          content: "";
          clear: both;
          display: table;
        }


        @media screen and (max-width: 300px) {
          .cancelbtn, .signupbtn {
             width: 100%;
          }
        }
</style>
<script>
    var password = document.getElementById("password"),
    confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>
</head>
<body>
        <form class="pure-form">
            <div class="container">
                <h1>Sign Up</h1>
                <fieldset>
                    <input type="text" placeholder="Club Name" name="Name of Club" required>
                    <input type="password" placeholder="Password" id="password" required>
                    <input type="password" placeholder="Confirm Password" id="confirm_password" required>
                    <button type="submit" class="signupbtn">Sign Up</button>
                </fieldset>
            </div>
        </form>
</body>
</html>
