.row {
  margin: 45px auto;
  margin-bottom: 0px;
}

a {
  background-color: #BEBEBE33;
  padding-top: 10px;
  color: black;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

h3 {
  font-weight: 300;
}

td, th {
  font-size: 21px;
  border-bottom: 1px solid #ddd;
  padding-top: 15px;
}

button {
  width: inherit;
  height: 60px;
  border-radius: 5px;
  font-size: 21px;
  font-weight: 400;
  box-shadow: 3px 3px 3px grey;
  color: black;
}

#submitScore {
  margin: auto;
  display: block;
  align-self: center;
  width: 30%;
  position: relative;
}

/*Slider Code */
.slider {
  width: 420px;
  margin-left: 100px;
  height: 2px;
  background: rgba(0, 0, 0, .2);
  border-radius: 2px;
  position: relative;
}
.slider .ui-slider-range {
  border-radius: 2px;
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
.slider .ui-slider-handle {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  width: 32px;
  height: 32px;
  position: absolute;
  outline: none;
  top: 0;
  z-index: 1;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, .2);
  margin: -1px 0 0 0;
  transform: translate(-50%, -50%);
  transition: box-shadow 0.3s ease;
}
.slider .ui-slider-handle .smiley {
  position: absolute;
  left: 50%;
  bottom: 100%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #000;
  opacity: 0;
  transform: translate(-50%, -12px);
  transition: all 0.3s ease 0s;
}
.slider .ui-slider-handle .smiley:before, .slider .ui-slider-handle .smiley:after {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: 8px;
}
.slider .ui-slider-handle .smiley:before {
  left: 7px;
}
.slider .ui-slider-handle .smiley:after {
  right: 7px;
}
.slider .ui-slider-handle .smiley svg {
  width: 16px;
  height: 7px;
  position: absolute;
  left: 50%;
  bottom: 5px;
  margin: 0 0 0 -8px;
}
.slider .ui-slider-handle .smiley svg path {
  stroke-width: 3.4;
  stroke: #000;
  fill: none;
  stroke-linecap: round;
}
.slider .ui-slider-handle.ui-state-active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .32);
}
.slider .ui-slider-handle.ui-state-active + .text {
  transform: translate(0, -80px);
  transition: transform 0.3s ease 0s;
}
.slider .ui-slider-handle.ui-state-active .smiley {
  opacity: 1;
  transform: translate(-50%, -12px);
  transition: all 0.3s ease 0.1s;
}
.slider .text {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translate(0, -44px);
  transition: transform 0.3s ease 0.2s;
  font-size: 16px;
}
.slider .text strong {
  color: #000;
  font-weight: bold;
}

/* html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
* {
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}
body {
  min-height: 100vh;
  font-family: 'Lato';
  color: #adafb6;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
body .dribbble {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
  opacity: 0.5;
  transition: all 0.4s ease;
}
body .dribbble:hover {
  opacity: 1;
}
body .dribbble img {
  display: block;
  height: 36px;
} */
