#stats {
  display: none;
}
#candidates {
  display: block;
}
img{
  max-width: 100%;
  border-radius: 2%;
  transition: all .2s ease-in-out;
  z-index: 1;
  filter: blur(2px) grayscale(100%);
  
}
img:hover {
  transform: scale(1.1);
  filter: grayscale(10%)
}

.pic {
  width: 70px;
}

.container {
  position: relative;
  text-align: center;
}


/* .blur {
  filter: blur(1px);
} */

.blur:hover, .filter:hover, .grayscale:hover {
  /* box-shadow: 2px 5px #ddd; */
  /* transform: scale(2x); */
}

/* .filter {
  filter: opacity(50%);
}

.grayscale {
  filter: blur(2px);
} */

.padding-0 {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 100px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table {
  width: 90%;
  border: collapse;
  box-decoration-break: slice;
  border-bottom: 2px solid black;
}

th {
  text-align: center;
  font-size: 23px;
  font-family: 'Poor Story', cursive;;
}

tr {
  height: 100px;
  border-bottom: 1px solid #eee;
}

tr:hover {
  box-shadow: 1px 6px 3px #ddd;
  cursor: pointer;
}

td {
  text-align: center;
  font-size: 21px;
  font-family: 'Montserrat', sans-serif;
}

.footer {
  margin-top: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 20px;
  padding-left: 20px;
}

.footer.center {
  text-align: center;
}

.footer.centered-smaller {
  padding-top: 33px;
  padding-bottom: 33px;
}

.footer.accent {
  background-color: #f1f1f1;
}

.footer.centered-accented {
  background-color: #f1f1f1;
  text-align: center;
}

.float-right {
  float: right;
}

.footer-text {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

.footer-brand-text {
  font-size: 26px;
  line-height: 33px;
}

.footer-link {
  display: block;
  margin-bottom: 6px;
  color: rgba(0, 0, 0, .74);
  text-decoration: none;
}

.footer-link:hover {
  color: #3b99d9;
}

.footer-link.with-icon {
  margin-left: 30px;
}

.fa {
  margin-left: 10px;
}

